@font-face {
  font-family: "Tungsten Narrow";
  src: url('TungstenNarrow-Medium.woff2');
  font-weight: 400 500;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Tungsten Narrow";
  src: url('TungstenNarrow-SemiBold.woff2');
  font-weight: 600 900;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Tungsten";
  src: url('Tungsten-Book.woff2');
  font-weight: 100 300;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Tungsten";
  src: url('Tungsten-SemiBold.woff2');
  font-weight: 600;
  font-style: normal;
  font-display: block;
}